<footer>
    <img class="shape" src="/assets/image/bottom_shape.svg" alt="">

    <div class="footer-content">
        <div class="footer-download-part">
            {% include components/play_store.html %} {% include
            components/apple_store.html %}
        </div>
        <div class="footer-social">
            <p>Suivez-nous sur :</p>
            <ul class="footer-social-nav">
                <li>
                    <a target="_blank" href="https://www.facebook.com/Ma-ville-accessible-2207614192786301"
                        ><img
                            src="/assets/image/icon_facebook.svg"
                            alt="Facebook Logo"
                    /></a>
                </li>
                <li>
                    <a target="_blank" href="https://www.instagram.com/mavilleaccessible_bdx/?hl=fr"
                        ><img
                            src="/assets/image/icon_instagram.svg"
                            alt="Instagram Logo"
                    /></a>
                </li>
                <!-- <li>
                    <a target="_blank" href="https://www.example.com/"
                        ><img
                            src="/assets/image/icon_twitter.svg"
                            alt="Twitter Logo"
                    /></a>
                </li> -->
            </ul>
        </div>
    </div>
</footer>
