<!---<section class="section-engagements">
    <div class="engagemennts-container">
        {% include components/engagement_box.html image='' title='' content='' %}
        {% include components/engagement_box.html image='' title='' content='' %}
        {% include components/engagement_box.html image='' title='' content='' %}
        {% include components/engagement_box.html image='' title='' content='' %}
    </div>
</section>--->



<section class="section-engagements">

    <div class="favoriser">
        <img src="/assets/media/contact-citoyen.svg" alt="">
        <h2 class="">Favoriser</h2>
        <p class="">et simplifier le contact entre citoyens et administrations</p>
    </div>
    
    <div class="un-projet">
        <img src="/assets/media/gens-nuage.svg" alt="">
        <h2 class="">Un projet</h2>
        <p class="">par les citoyens, pour les citoyens</p>
    </div>

    <div class="100">
        <img src="/assets/media/cadeau.svg" alt="">
        <h2 class="">100%</h2>
        <p class="">gratuit et entièrement accessible</p>
    </div>

    <div class="rendre-accessible">
        <img src="/assets/media/rendre-accessible.svg" alt="">
        <h2 class="">Rendre accessible</h2>
        <p class="">au maximum les espaces publics</p>
    </div>

</section>