<section class="section-engagements">
    <h2>Nos engagements</h2>

    <div class="engagemennts-container">
        {% include components/engagement_box.html image='/assets/image/media/contact-citoyen.svg' title='Favoriser' content='et simplifier le contact entre citoyens et administrations' %}
        {% include components/engagement_box.html image='/assets/image/media/gens-nuage.svg' title='Un projet' content='par les citoyens, pour les citoyens' %}
        {% include components/engagement_box.html image='/assets/image/media/cadeau.svg' title='100%' content='gratuit et entièrement accessible' %}
        {% include components/engagement_box.html image='/assets/image/media/rendre-accessible.svg' title='Rendre accessible' content='au maximum les espaces publics' %}
    </div>
</section>