<section class="section-how">
    <h3>Comment ça marche ?</h3>

    <div class="how-container">
        {% include components/number_box.html image='/assets/image/number/one.svg' title='Signalez' content='Faites remonter les problèmes facilement avec une photo, un titre, une description, une localisation depuis votre portable et le tour est joué !' %}
        {% include components/number_box.html image='/assets/image/number/two.svg' title='Soutenez' content='Appuyez les signalements qui vous semblent justes, des actions de votre entourage dans votre secteur ' %}
        {% include components/number_box.html image='/assets/image/number/three.svg' title='Échanger' content='Réaction plus rapide de votre mairie qui lui permet d être prévenu plus rapidement et de pouvoir réagir sur des endroits ciblés' %}
        {% include components/number_box.html image='/assets/image/number/four.svg' title='Intervention' content='Votre mairie intervient sur l’anomalie signalée et la résout' %}
        {% include components/number_box.html image='/assets/image/number/five.svg' title='Merci !' content='Grâce à votre geste citoyen, l’espace urbain s’améliore !' %}
    </div>
</section>