<section class="section-introduction">
    <h2>Pour une ville praticable par tous</h2>

    <div class="introduction-container">
        <div class="introduction-right-box">
            <div class="ma-ville-accessible">
                <h4>Ma ville accessible</h4>

                <p class="">
                    En quelque clics, signalez et facilitez 
                    la prise en charge des problèmes d'accessibilité
                    de votre ville par la mairie.
                </p>
            </div>

            <div class="pourquoi-nous">
                <h4>Qui sommes ?</h3>

                <p class="">
                    Un groupe d'étudiant souhaitant s'engager bénévolement 
                    et impacter le quotidien des citoyens en leur proposant
                    un service gratuit et d'utilité publique.
                </p>
            </div>
        </div>

        <img
            src="/assets/image/media/maincarte.svg"
            alt="smatphone contenant une carte"
        />
    </div>
</section>
