<section class="section-introduction">
    <h1 class="">
        Découvrez-nous !
    </h1>
    <section class="texte-et-image">
        <div class="ma-ville-accessible">
            <h2 class="">
                Ma ville accessible
            </h2>
            <p class="">
                L’application web pour signaler les problèmes que vous rencontrez dans votre ville, en toute simplicité !
            </p>
        </div>
        <div class="pourquoi-nous">
            <h2 class="">
                Pourquoi nous ?
            </h2>
            <p class="">
                Vous êtes en situation de handicap, un parent avec une poussette ou vous rencontrez simplement des 
                difficultés à vous déplacer dans l’espace urbain ?  
                “Ma Ville Accessible” est faite pour vous !
            </p>
        </div>
        <img src="/assets/media/maincarte.svg" alt="smatphone contenant une carte">
    </section>
</section>