<section class="section-introduction">
    <h2>Découvrez-nous !</h2>

    <div class="introduction-container">
        <div class="introduction-right-box">
            <div class="ma-ville-accessible">
                <h4>Ma ville accessible</h3>

                <p class="">
                    L’application web pour signaler les problèmes que vous
                    rencontrez dans votre ville, en toute simplicité !
                </p>
            </div>

            <div class="pourquoi-nous">
                <h4>Pourquoi nous ?</h3>

                <p class="">
                    Vous êtes en situation de handicap, un parent avec une
                    poussette ou vous rencontrez simplement des difficultés à
                    vous déplacer dans l’espace urbain ? “Ma Ville Accessible”
                    est faite pour vous !
                </p>
            </div>
        </div>

        <img
            src="/assets/image/media/maincarte.svg"
            alt="smatphone contenant une carte"
        />
    </div>
</section>
