h1 {
    color: #845FF7;
    margin-bottom: 5em;
}

.section-engagements {
    margin: 0px 5%px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

img {
    margin-bottom: 2em;
}

@media only screen and (max-width: 700px) {
    .section-engagements {
        flex-direction: row;
        margin: 0% 5px;
        
    }
    img {
        margin-bottom: 1em;
    }
}