.section-engagements {
    background-color: grey;

    .engagemennts-container {
        margin: 0px 5%px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}



