.section-introduction {
    padding: 0 200px;

    @media (max-width: 900px) {
        padding: 0 25px;
    }

    .introduction-container {
        display: flex;
        justify-content: space-around;

        .introduction-right-box {
            div {
                margin: 50px 0;
            }
        }
    }
    
    img {
        width: 350px;
        height: auto;
        margin-left: 100px;
        box-sizing: border-box;

        @media (max-width: 900px) {
            display: none;
        }
    }
}
