footer {
    height: 200px;
    position: relative;

    .shape {
        z-index: -3;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .footer-content {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 1440px;
        margin: auto;

        .footer-download-part {
            display: flex;
            justify-content: space-around;

            .store-button {
                margin: 0 25px;
            }
        }

        .footer-social {
            display: flex;
            justify-content: space-around;
            align-items: center;

            p {
                color: white;
                font-size: 1.5rem;
            }

            .footer-social-nav {
                display: flex;
                justify-content: space-around;
                align-items: center;

                a:hover img {
                    transform: scale(1.1);
                }

                img {
                    height: 64px;
                    margin: 0 25px;
                    transition: 0.2s ease;
                }
            }
        }
    }
}
