html {
    scroll-behavior: smooth;
}

body {
    background: $backgroundColor;
    color: $bodyColor;
    font-family: $bodyFont;

    main {
        max-width: 1440px;
        margin: auto;
        overflow-x: hidden;

        p {
            font-size: 1.5rem;
            line-height: 2.5rem;
        }
    }
}
